html, body {
}
.companyHeader {
    text-align: center;
    font-size: 10em;
}

.siteTitle {
    color: #f35626;
    background-image: linear-gradient(92deg, #f35626 0%,#feab3a 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 60s infinite linear;
    height: 100%;
}
@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(-360deg);
    }
}
#moto {
    text-align: center;
    font-size: 2em;
}
.homeLink {
    text-align: center;
}
.content {
    margin-left: 2em;
    margin-right: 2em;
}
.mdl-data-table {
    white-space: break-spaces;
    width: 100%;
}
a {
    color: blue;
}
.question:before {
    content:"Question: ";
    font-weight: bold;
}
.question {
    padding-left: 1em;
}
.reason:before {
    content:"Reason: ";
    font-weight: bold;
}
.reason {
    padding-left: 1em;
}
.example:before {
    content:"Example: ";
    font-weight: bold;
}
.example {
    padding-left: 1em;
}


